<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>
        Purchases
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="True">

  <ion-searchbar showCancelButton="focus" (ionInput)="handleInput($event)"></ion-searchbar>

  <ion-list >
    <ion-item-divider></ion-item-divider>

    <ion-item-sliding  *ngFor="let po of purchaseOrders | async">
      
      <ion-item class="ion-align-items-start" [routerLink]="['/purchase-order', po.$key]">
        <ion-label> 
          <h2><strong>{{po.name}}</strong></h2>
          <ion-text color="primary"> <p><strong>{{po.total_cost}} €</strong></p> </ion-text>
          <ion-text> <p>Submitted by: <a>{{po.requester_username}}</a> </p> </ion-text>
          <ion-text color="{{ po.status === 'Awaiting Approval' ? 'warning' : (po.status === 'Rejected' ? 'danger' : 'success') }}">
            <h2> <strong>{{po.status}}</strong> </h2>   
          </ion-text>
        </ion-label>
        <ion-label slot="end">
          <p>{{po.date | date: 'dd/MM/yyyy h:mm'}}</p>
        </ion-label>
      </ion-item>

      <ng-container *ngIf="managerProfile && po.status === 'Awaiting Approval' ">
        <ion-item-options side="start">
          <ion-item-option color="success" (click)="approve_po(po.$key)">Approve</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="reject_po(po.$key)">Reject</ion-item-option>
        </ion-item-options>
      </ng-container>

    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createPO()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
