<ion-tabs contain="none">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="work-orders">
      <ion-icon src="assets/repair.svg"></ion-icon>
      <ion-label>Work Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assets">
      <ion-icon src="assets/machinery.svg"></ion-icon>
      <ion-label>Assets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="purchases">
      <ion-icon src="assets/invoice_2.svg"></ion-icon>
      <ion-label>Purchases</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="maintenance">
      <ion-icon src="assets/schedule-maintenance.svg"></ion-icon>
      <ion-label>Maintenance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>