<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/purchases"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">Purchase Order details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <!-- Detalhes da Purchase Order -->
  <ion-grid class="po-details ion-padding-start ion-padding">
    <ion-row>
      <ion-col size="5">
        <ion-label>
          <h3><strong>Title</strong></h3>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <h3>{{(purch_order | async)?.name}}</h3>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-label>
          <h3><strong>Requester</strong></h3>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <h3>{{(purch_order | async)?.requester_username}}</h3>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-label>
          <h3><strong>Cost Center</strong></h3>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <h3>{{(purch_order | async)?.cost_center}}</h3>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-label>
          <h3><strong>Work Order</strong></h3>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <h3> <a href="/tabs/work-orders">{{(purch_order | async)?.wo_title}}</a> </h3>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-label>
          <h3><strong>Total</strong></h3>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <ion-text color="primary">
            <h3><strong>{{(purch_order | async)?.total_cost}} €</strong></h3>
          </ion-text>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <h3>({{(purch_order | async)?.num_items}} items)</h3>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Items (linhas de produtos) da Purchase order-->
  <ion-list>

    <ion-item-divider></ion-item-divider>
    
      <ion-item *ngFor="let product of (purch_order | async)?.products | keyvalue">
        <ng-container *ngIf="(product.value.img | async); else loading">
          <ion-avatar slot="start">
            <ion-img [src]=" product.value.img | async"></ion-img>
          </ion-avatar>
          <ion-label>
            <h3>{{ product.key }}</h3>
            <ion-text color="primary">
              <h6> <strong>{{product.value.price}} €</strong> </h6>
            </ion-text>
            <h6><strong>Qty: </strong>{{product.value.qty}}</h6>
          </ion-label>
        </ng-container>
      </ion-item>
        
  </ion-list>

  <!--Loading-->
  <ng-template #loading>
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </ng-template>

</ion-content>

<ion-footer class="ion-no-border ion-margin-bottom">
  <ion-toolbar>

    <ng-template [ngIf]=" (purch_order | async)?.status === 'Awaiting Approval' " [ngIfElse]="status_message">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="danger" (click)="presentPOAlert('Reject')">
              <ion-icon name="close-circle" size="large"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="success" (click)="presentPOAlert('Approve')"> 
              <ion-icon name="checkmark-circle" size="large"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  
    <ng-template #status_message>
      <ion-item class="ion-text-center" lines="none">
        <ion-label>
          <h2> 
            <strong>
              <ion-text [color]="(purch_order | async)?.status === 'Approved' ? 'success' : 'danger' ">
                {{(purch_order | async)?.status}}
              </ion-text> by {{(purch_order | async)?.approver}} @ {{ (purch_order | async)?.decision_date | date: 'dd/MM/yyyy h:mm' }}.
            </strong> 
          </h2>
        </ion-label>
      </ion-item>
    </ng-template>

  </ion-toolbar>
</ion-footer>


