<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>
        Assets
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-item class="ion-margin-vertical" lines="none" button (click)="scanDeviceTag()" >
    <ion-icon size="large" src="assets/qr-code-scan.svg" class="ion-margin-end" color="primary"></ion-icon>
    <ion-label>
      <ion-text color="primary">
        <h2> <strong>SCAN ASSET</strong> </h2>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-list >
    <ion-item-divider></ion-item-divider>

    <ion-item *ngFor="let a of assets | async" [routerLink]="['/asset-details', a.$key]">
      <ion-avatar slot="start">
        <img [src]="a.img | async" />
      </ion-avatar>
      <ion-label>
        <h2><strong>{{a.name}}</strong></h2>
        <p>{{a.$key}}</p>
        <p>{{a.sector_desc}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
