<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>
        Assets
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-item class="ion-margin-vertical" lines="none" button="True">
    <ion-icon size="large" src="assets/qr-code-scan.svg" class="ion-margin-end" color="primary"></ion-icon>
    <ion-label>

      <ion-text color="primary">
        <h2> <strong>SCAN ASSET</strong> </h2>
      </ion-text>
      
    </ion-label>
  </ion-item>

  <ion-list >
    <ion-item-divider></ion-item-divider>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/retroexcavadora.jpg" />
      </ion-avatar>
      <ion-label>
        <h2><strong>Viatura Retroexcavadora CAT 06</strong></h2>
        <p>410 11D010 015</p>
        <p>Manutenção Automóvel</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/aparafusadora_bosch.jpg" />
      </ion-avatar>
      <ion-label>
        <h2><strong>Aparafusadora Bosch Pro GDR 18V-160</strong></h2>
        <p>410 11D010 016</p>
        <p>Manutenção Elétrica</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/escada_rolante.jpg" />
      </ion-avatar>
      <ion-label>
        <h2><strong>Escada Rolante 4 TKE tugela</strong></h2>
        <p>410 11D010 018</p>
        <p>Manutenção Automatismos</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
