<ion-content class="ion-padding-start ion-padding-end" fullscreen="true">

  <ion-text color="primary">
    <h1> <strong>Manufy</strong> </h1>
  </ion-text>
  <h6>Sign in to start working</h6>

  <ion-img class="ion-margin-vertical" src="assets/engineer.svg"></ion-img>

  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" novalidate>

    <!-- E-mail -->
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input position="floating" type="email" formControlName="email" required></ion-input>
    </ion-item>

    <!-- Password -->
    <ion-item class="ion-align-items-center">
      <ion-label position="floating">Password</ion-label>
      <ion-input position="floating" [type]="showPwd ? 'text' : 'password'" formControlName="password" enterkeyhint="search" required></ion-input>
      <ion-icon  position="floating" color="medium" slot="end" [name]="pwdIcon" (click)="togglePwd()"></ion-icon>
    </ion-item>
  
    <ion-item lines="none">
      <ion-label slot="start">
          <h6><a [routerLink]="['/contact-sys'] ">Forgot Password ?</a></h6>
      </ion-label>
    </ion-item>
    

    <ion-button type="submit" class="ion-padding-horizontal ion-margin-vertical" color="warning" expand="block"> 
      <ion-text color="light">
        LOGIN
      </ion-text> </ion-button>

  </form>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
      <p> <small>© 2022 Manufy. All rights reserved.</small><br><small>António F. Oliveira</small> </p>  
  </ion-toolbar>
</ion-footer>
