<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Maintenance</h1>
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content fullscreen="True">

  <div class="grid">
    <div class="grid-item">
      <ion-datetime size="cover" presentation="datetime" (ionChange)="selectDate($event)"></ion-datetime>
    </div>
  </div>

  <ion-segment (ionChange)="segmentChanged($event)" value="monthly">
    <ion-segment-button value="monthly">
      <ion-label>Monthly</ion-label>
    </ion-segment-button>

    <ion-segment-button value="daily">
      <ion-label>Daily</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Vista mensal -->
  <ng-container *ngIf="selectedSegment === 'monthly'; else dayBlock">
    
    <ion-list>

      <ng-container *ngIf="(monthlyPM | async)?.length; else empty">
        <ion-item-divider ></ion-item-divider>
  
        <ion-item class="ion-align-items-start" *ngFor="let pm of monthlyPM | async" [routerLink]="['/pm-details', pm.$key]">
          <ion-label>
            <h2><strong>{{pm.name}}</strong></h2> 
            <div class="wo-status ion-text-wrap">
              <p class="">Start date:</p>
              <p class="">{{pm.start_date | date: 'dd/MM/yyyy h:mm'}}</p>
            </div>
            <div class="wo-status ion-text-wrap">
              <p class="">Due date: </p>
              <p class="">{{pm.due_date | date: 'dd/MM/yyyy h:mm'}}</p>
            </div>
            <div class="wo-status ion-text-wrap">
              <ion-icon class="ion-padding-end" color="{{pm.status === 'Not started' ? 'warning' : (pm.status === 'In progress' ? 'secondary' : 'medium') }}" 
                        name="{{pm.status === 'Not started' ? 'lock-open' : (pm.status === 'In progress' ? 'sync' : 'lock-closed') }}" slot="start">
              </ion-icon>
              <ion-text color="{{ (pm.status === 'Not started') ? 'warning' : (pm.status === 'In progress' ? 'secondary' : 'medium') }}">
                <p>{{pm.status}}</p>   
              </ion-text>
            </div>       
          </ion-label>
        </ion-item>
      </ng-container>
      <ng-template #empty>
        <h6>Empty.</h6>
      </ng-template>
        
    </ion-list>
  </ng-container>

  <!-- Vista diária -->
  <ng-template #dayBlock>

    <ion-list>
      
      <ng-container *ngIf="(dailyPM | async)?.length; else empty">

        <ion-item-divider ></ion-item-divider>

        <ion-item class="ion-align-items-start" *ngFor="let pm of dailyPM | async" [routerLink]="['/pm-details', pm.$key]">
          <ion-label>
            <h2><strong>{{pm.name}}</strong></h2> 
            <div class="wo-status ion-text-wrap">
              <p class="">Start date:</p>
              <p class="">{{pm.start_date | date: 'dd/MM/yyyy h:mm'}}</p>
            </div>
            <div class="wo-status ion-text-wrap">
              <p class="">Due date: </p>
              <p class="">{{pm.start_date | date: 'dd/MM/yyyy h:mm'}}</p>
            </div>
            <div class="wo-status ion-text-wrap">
              <ion-icon class="ion-padding-end" color="{{pm.status === 'Not started' ? 'warning' : (pm.status === 'In progress' ? 'secondary' : 'medium') }}" 
                        name="{{pm.status === 'Not started' ? 'lock-open' : (pm.status === 'In progress' ? 'sync' : 'lock-closed') }}" slot="start">
              </ion-icon>
              <ion-text color="warning">
                <ion-text class="ion-text-wrap" color="{{ (pm.status === 'Not started') ? 'warning' : (pm.status === 'In progress' ? 'secondary' : 'medium') }}">
                  <p>{{pm.status}}</p>   
                </ion-text>
              </ion-text>
            </div>       
          </ion-label>
        </ion-item>
      </ng-container>
      <ng-template #empty>
        <h6>Empty.</h6>
      </ng-template>
  

    </ion-list>

  </ng-template>

</ion-content>
