<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/work-orders"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">Work Order details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="True" >

  <!-- Título e 'status' -->
  <div class="ion-padding">
    <h1> <strong>{{(work_order|async)?.title}}</strong> </h1>
    <p> <strong>Status</strong> </p>
  </div>
  
  <!-- status flow image -->
  <ng-container *ngIf="(work_order|async)?.status === 'Waiting'; else progress">
    <ion-img src="assets/wo_waiting.png"></ion-img>
  </ng-container>
  <ng-template #progress>
    <ng-container *ngIf="(work_order|async)?.status === 'In progress'; else closed">
      <ion-img src="assets/wo_progress.png"></ion-img>
    </ng-container>
  </ng-template>
  <ng-template #closed>
      <ng-container *ngIf="(work_order|async)?.status === 'Closed'; else loading">
        <ion-img src="assets/wo_closed.png"></ion-img>
      </ng-container>
  </ng-template>
  <ng-template #loading><ion-spinner name="crescent" color="primary"></ion-spinner></ng-template>


  <!-- Separadores do segmento -->
  <ion-segment class="ion-padding-top" (ionChange)="segmentChanged($event)" 
    [disabled]="(work_order|async)?.status === 'Waiting'" value="details">
    <ion-segment-button value="details">
      <ion-label>Details</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fill">
      <ion-label>Fill</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Detalhes da Ordem de Trabalho -->
  <ng-container *ngIf="segment === 'details'">
    <!-- Dados Ativo e OT -->
    <ion-grid class="ion-padding-start">
      <ion-row>
        <ion-col size="3">
          <ion-label>
            <h2><strong>Date</strong></h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <h2>Some date</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-label>
            <h2><strong>Asset</strong></h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <h2> <a href="">{{(work_order|async)?.asset}} - {{(work_order|async)?.asset_desc}}</a> </h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-label>
            <h2><strong>Location</strong></h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <h2>01 - Edifício 1 - Piso 2</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-label>
            <h2><strong>Sector</strong></h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <h2>{{(work_order|async)?.sector}}</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <!-- Se a Ordem de Trabalho estiver "In progress" é exibido o nome do técnico responsável (aquele que passou a OT de Waiting p/ o estado atual) -->
      <ng-container *ngIf="(work_order|async)?.status === 'In progress'">
        <ion-row>
          <ion-col size="3">
            <ion-label>
              <h2><strong>Owner</strong></h2>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <h2>{{(work_order|async)?.owner}}</h2>
            </ion-label>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>

    <!-- Imagem, se aplicável -->

    <ion-item-divider class="ion-padding"></ion-item-divider>

    <!-- Reporte -->
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <strong>Reporter</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{(work_order|async)?.reporter_name}}
        </ion-col>
        <ion-col>
          {{(work_order|async)?.reporter_phone}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Description</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{(work_order|async)?.description}}
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container>

  <!-- Preenchimento da Ordem de trabalho -->
  <ng-container *ngIf="segment === 'fill' && (work_order|async)?.status === 'In progress'">

    <form class="ion-padding" #f="ngForm" (ngSubmit)="closeWorkOrder(f)" novalidate>
      <!-- Relatório de intervenção - textbox -->
      <div>
        <p> <strong>Maintenance Summary</strong> </p>
      </div>
      <ion-item lines="none" color="light">
        <ion-textarea clearInput placeholder=" Details go here." rows=4 inputmode="text" enterkeyhint="done"
          spellcheck="true" required="true" name="maintenance_summary" ngModel>
        </ion-textarea>
      </ion-item>

      <!-- Mão de obra -->
      <div>
        <p> <strong>Labor</strong> </p>
      </div>

      <!-- Introduzir mão de obra -->
      <ion-list>
        <ion-item *ngFor="let t of (labor_technicians | async)">

          <ng-container *ngIf="t.img | async; else loading">
            <ion-avatar slot="start">
              <img [src]="t.img | async" />
            </ion-avatar>
          </ng-container>
          <ng-template #loading><ion-spinner name="crescent" color="parimary"></ion-spinner></ng-template>

            <ion-grid>

              <ion-row class="ion-align-items-center ion-justify-content-evenly">
                <ion-col class="ion-no-padding ion-no-margin">
                  <h6>{{t.name}} {{t.surname}}</h6>
                </ion-col>
              </ion-row>
  
              <ion-row class="ion-align-items-center ion-justify-content-evenly">
                <ion-col class="">
                  <ion-input type="number" name="{{t.username}}_hours" placeholder=" hours " min="0" ngModel required="true"></ion-input>
                </ion-col>
                <ion-col class="">
                  <ion-input type="number" name="{{t.username}}_minutes" placeholder=" minutes " min="0" value="0" ngModel required="true"></ion-input>
                </ion-col>
              </ion-row>
  
            </ion-grid>
  
          <ion-button fill="clear" (click)="deleteLaborEntry(t.username)">
            <ion-icon name="trash" color="dark"></ion-icon>
          </ion-button>
          
        </ion-item>

        <ion-item lines="none">
          <ion-button color="secondary" slot="end" fill="clear" slot="end" (click)="pickLabor()">
            <h6> <strong>+ Add</strong> </h6>
          </ion-button>
        </ion-item>

      </ion-list>

      <!-- Indisponibilidade ativo -->
      <div>
        <p> <strong>Asset Unavailability</strong> </p>
      </div>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/escada_rolante.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>{{(work_order|async)?.asset_desc}}</h2>
        </ion-label>
      </ion-item>

      <!-- Introduzir indisponibilidade ativo-->
      <ion-item lines="none">
        <ion-grid>
          <ion-row class="ion-align-items-center ion-justify-content-evenly">
            <ion-col class="">
              <ion-input type="number" name="unavailabilityHours" placeholder=" hours " min="0" ngModel required="true" [disabled]="disableInputs" ></ion-input>
            </ion-col>
            <ion-col class="">
              <ion-input type="number" name="unavailabilityMinutes" placeholder=" minutes " min="0" ngModel required="true" [disabled]="disableInputs" ></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ng-container *ngIf="segment === 'fill' && (work_order|async)?.status === 'In progress'">
        <ion-button color="primary ion-margin-vertical" type="submit" expand="block">
          CLOSE WORK ORDER
        </ion-button>
      </ng-container>

    </form>

  </ng-container>

  <!-- Caso a OT esteja fechada, os campos são exibidos em modo consulta -->
  <ng-container *ngIf="segment === 'fill' && (work_order|async)?.status === 'Closed'">
    <div class="ion-padding">

      <!-- Maintenance Summary -->
      <div>
        <p> <strong>Maintenance Summary</strong> </p>
      </div>
      <ion-item lines="none" color="light">
        <p>{{ (work_order|async)?.summary }}</p>
      </ion-item>

      <!-- Labor -->
      <div>
        <p> <strong>Labor</strong> </p>
      </div>
      <ion-list>
        <ion-item *ngFor="let labor_entry of (work_order | async)?.labor | keyvalue" lines="none">
          <ion-avatar slot="start">
            <img src="" alt="">
          </ion-avatar>
          <ion-label>
            <h2>{{labor_entry.key}}</h2>
            <h2>{{labor_entry.value}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- Asset Unavailability -->
      <div>
        <p> <strong>Asset Unavailability</strong> </p>
      </div>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/escada_rolante.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>{{(work_order|async)?.asset_desc}}</h2>
          <h2>{{(work_order|async)?.asset_unavailability}}</h2>
        </ion-label>
      </ion-item>

    </div>
  </ng-container>

</ion-content>

<!-- Caso a Ordem de Trabalho esteja como 'Waiting', é exibido no footer um botão para colocá-la como 'In progress' -->
<ng-container *ngIf="(work_order|async)?.status === 'Waiting'">
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-button color="primary ion-margin-vertical" type="submit" expand="block" (click)="startWorkOrder()">
        Execute Work Order
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-container>