<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/work-orders"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">Work Order details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="True" >

  <!-- Título e 'status' -->
  <div class="ion-padding">
    <h1> <strong>{{(work_order|async)?.title}}</strong> </h1>
    <p> <strong>Status</strong> </p>
  </div>
  
  <!-- status flow image -->
  <ion-img src="{{ (work_order|async)?.status === 'Waiting' ? 'assets/wo_waiting.png' : 
    (work_order|async)?.status === 'In progress' ? 'assets/wo_progress.png' : 'assets/wo_closed.png' }}" 
    class="ion-justifiy-content-center"></ion-img>

  <!-- Separadores do segmento -->
  <ion-segment class="ion-padding-top" (ionChange)="segmentChanged($event)" [disabled]="(work_order|async)?.status === 'Waiting'" value="{{ ( (work_order|async)?.status === 'Closed' || (work_order|async)?.status === 'In progress') ? 'fill' : 'details'}}">
    <ion-segment-button value="details">
      <ion-label>Details</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fill">
      <ion-label>Fill</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Detalhes da Ordem de Trabalho -->
  <div *ngIf="segment === 'details'">
    <!-- Dados Ativo e OT -->
    <ion-grid class="ion-padding-start">
      <ion-row>
        <ion-col size="3">
          <ion-label>
            <h2><strong>Date</strong></h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <h2>Some date</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-label>
            <h2><strong>Asset</strong></h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <h2> <a href="">{{(work_order|async)?.asset}} - {{(work_order|async)?.asset_desc}}</a> </h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-label>
            <h2><strong>Location</strong></h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <h2>01 - Edifício 1 - Piso 2</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-label>
            <h2><strong>Sector</strong></h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <h2>{{(work_order|async)?.sector}}</h2>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Imagem, se aplicável -->

    <ion-item-divider class="ion-padding"></ion-item-divider>

    <!-- Reporte -->
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <strong>Reporter</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{(work_order|async)?.reporter_name}}
        </ion-col>
        <ion-col>
          {{(work_order|async)?.reporter_phone}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Description</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{(work_order|async)?.description}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Preenchimento da Ordem de trabalho -->
  <div *ngIf="segment === 'fill'" class="ion-padding" >

    <form #fillWOForm="ngForm" (submit)="buttonClick(fillWOForm.value)">
      <!-- Relatório de intervenção - textbox -->
      <div>
        <p> <strong>Maintenance Summary</strong> </p>
      </div>
      <ion-item lines="none">
        <ion-textarea clearInput placeholder="Details go here." rows=4 inputmode="text" enterkeyhint="done"
          spellcheck="true" required="true"></ion-textarea>
      </ion-item>

      <!-- Mão de obra -->
      <div>
        <p> <strong>Labor</strong> </p>
      </div>

      <!-- Introduzir mão de obra -->
      <ion-list>
        <ion-item *ngFor="let t of woLabor" lines="none">
          <ion-avatar slot="start">
            <img src="../../../../assets/afoliveira.jpg" />
          </ion-avatar>
          <ion-grid>
            <ion-row class="ion-align-items-center ion-justify-content-evenly">
              <ion-col>
                <h6>{{t}}</h6>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-evenly">
              <ion-col>
                <h6>From</h6>
              </ion-col>
              <ion-col>
                <ion-input placeholder="time" type="time"></ion-input>
              </ion-col>
              <ion-col>
                <h6>to</h6>
              </ion-col>
              <ion-col>
                <ion-input placeholder="time" type="time"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button fill="clear" (click)="deleteLaborEntry(t)">
            <ion-icon name="trash" color="dark"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item lines="none">
          <ion-button color="secondary" slot="end" fill="clear" slot="end" (click)="pickLabor()">
            <h6> <strong>+ Add</strong> </h6>
          </ion-button>
        </ion-item>

      </ion-list>

      <!-- Indisponibilidade equipamento -->
      <div>
        <p> <strong>Asset Unavailability</strong> </p>
      </div>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/escada_rolante.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>{{(work_order|async)?.asset_desc}}</h2>
        </ion-label>
      </ion-item>

      <!-- Introduzir indisponibilidade ativo-->
      <ion-item lines="none">
        <ion-grid>
          <ion-row class="ion-align-items-center ion-justify-content-evenly">
            <ion-col>
              <ion-text>
                From
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text>
                22:22
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text>
                to
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-input placeholder="start" type="time"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-button color="primary ion-margin-vertical" type="submit" expand="block">
        Execute Work Order
      </ion-button>

    </form>

  </div>

</ion-content>