<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Labor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-searchbar (ionInput)="handleInput($event)" showCancelButton="focus"></ion-searchbar>

  <form id="laborPickerForm2" #laborForm="ngForm" (submit)="laborSelection(laborForm.value)" novalidate>
    <fieldset>
      <ion-list>
        <ion-item *ngFor="let t of technicians | async" lines="none">
          <!-- Exibir imagens dos técnicos. Se ainda não estiverem disponíveis, é exibido o spinner -->
          <ng-container *ngIf="t.img | async; else loading">
            <ion-avatar slot="start">
              <img [src]="t.img | async" />
            </ion-avatar>
          </ng-container>
          <ng-template #loading>
            <ion-row class="ion-justify-content-center">
              <ion-col>
                <ion-spinner name="crescent" color="primary"></ion-spinner>
              </ion-col>
            </ion-row>
          </ng-template>

          <ion-label>
            <ion-text>
              <h2> <strong>{{t.name}}</strong> </h2>
            </ion-text>
            <h3>{{t.username}}</h3>
            <h3>{{t.category}}</h3>
          </ion-label>
          <ion-checkbox color="primary" [ngModel]="false" name="{{t.username}}"></ion-checkbox>
          <!-- <input type="checkbox" ngModel name="{{t.username}}" value="selected"> -->
        </ion-item>
      </ion-list>
    </fieldset>
    <ion-button form="laborPickerForm" type="submit" class="ion-padding-horizontal ion-margin-vertical" color="primary" expand="block">
      Add
    </ion-button>
  </form>

</ion-content>

